<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Projeto - Gerente</title>

<style>
	.index{
		border: 2px solid black;
	
	}
	table {
		border-collapse: collapse;
	}
	table, th, td {
		border: 1px solid black;
	}

</style>

</head>
<body>
	<div class="index">
		<div class="listar">
			<label>Última Senha chamada</label>
			
			<table>	
				<thead>
					<tr>
						<th>Senha</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each=" senha : ${ultimaSenhaChamada}">
						<td><span th:text="${senha.idSenha}"></span></td>
						<td><span th:text="${senha.preferencial}"></span></td>
					</tr>
				</tbody>
			</table><hr>
		</div>
		<div class="chamar">
			
			<label>Fila de Senhas</label>
			<table>	
				<thead>
					<tr>
						<th>Senha</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each=" senha : ${senhaChamar}">
						<td><span th:text="${senha.idSenha}"></span></td>
						<td><span th:text="${senha.preferencial}"></span></td>
					</tr>
				</tbody>
			</table>
			<a href="chamarSenha">Próxima Senha</a>
			<a href="reiniciar">Reiniciar Senhas</a>
		</div>
	</div>
</body>
</html>